@media( max-width: 995px){
    /* #header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    } */
    #header{
        width: 100%;
    }
    .logo{
        width: 100%;
        padding-top: 15px;
    }
    .menu{
        width: 60%;
        margin: 0px auto;
        margin-top: 20px;
        /* border: 1px solid #cccccc; */
    }
}

@media( max-width: 795px){
    .part1{
        width: 60%;
        margin: 0px auto;
    }

    .part2{
        width: 80%;
        margin: 0px auto;
    }

    .t-page,
    .s-page{
        text-align: center;
    }

    .redes,
    .redesFooter{
        margin: 0px auto;
    }

    #habilidades{
        width: 100%;
        margin: 0px auto;
    }

    .bd{
        width: 100%;
    }
    .lp,
    .bd{
        justify-content: center;
        margin-bottom: 25px;
    }
    .item{
        margin: 10px;
    }

    .portafolio,
    .referencias{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .portafolio{
        border-right: none;
        text-align: center;
    }

}

@media( max-width: 725px){
    .logo{
        font-size: 15px;
    }

    .menu{
        width: 50%;
        margin: 0px auto;
    }

    .menu a{
        font-size: 15px;
    }
    .part2{
        padding-right: none;
    }

    .redesFooter{
        width: 50%;
    }
}


@media( max-width: 600px){
    .logo{
        font-size: 15px;
    }

    .menu a{
        font-size: 15px;
    }

    #contenedor{
        width: 75%;
    }

    .part2{
        padding-right: 0px;
    }
}


@media( max-width: 510px){
    .logo{
        font-size: 12px;
    }

    .menu a{
        font-size: 12px;
    }

    #contenedor{
        width: 73%;
    }

    
    .item_porta{
        width: 40%;
    }

    .cont{
        width: 100%;
    }

    .formulario, .cont {
        width: 80%;
        margin: 0px auto;
    }

    .form {
        width: 80%;
        font-size: 15px;       
    }

   
}


/* ANDROID */

@media( max-width: 424px){
    .logo{
        font-size: 13px;
    }

    #contenedor{
        width: 70%;
        padding: 33px;
        /* border: 1px solid #ccc; */
    }

    .menu{
        width: 70%;
        margin: 0px auto;
    }

    .menu a{
        font-size: 12px;
    }

    #header{
        width: 100%;
    }

    .part2{
        width: 100%;
        padding-right: 0px;
        /* border: 1px solid #ccc; */
        text-align: center;
    }

    .redes,
    .redesFooter{
        width: 75%;
    }

    .item{
        width: 90%;
        height: none;
        line-height: none;
        font-size: 35px;
    }

    .item span {
        margin-top: -20px;
    }

    .item p {
        margin-top: 90px;
    }

    .item span {
        margin-top: -130px;
    }

    .portafolio{
        padding-left: none;
        /* border: 1px solid #ccc; */
    } 
    .item_porta{
        width: 40%;
    }

    .cont{
        width: 100%;
    }   
    
}


@media( max-width: 375px){
    .logo{
        font-size: 10px;
    }

    .menu a{
        font-size: 10px;
    }
}